<a href="https://colab.research.google.com/github/Okocha76/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import style
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp

## Load and clean the Data

In [3]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", header=None, names=column_headers, na_values="?")
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [4]:
df = df.replace({'y': 1, 'n': 0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [5]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [6]:
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

## Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [8]:
rep = df[df['party']=='republican']
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [9]:
dem = df[df['party']=='democrat']
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [17]:
print("'Aid to Contras' bill is supported by", round(100 * dem['aid-to-contras'].mean(),2), "% of Democrats and",round(100 * rep['aid-to-contras'].mean(),2),"% of Republicans.")

'Aid to Contras' bill is supported by 82.89 % of Democrats and 15.29 % of Republicans.

In [11]:
ttest_ind(rep['aid-to-contras'], dem['aid-to-contras'], equal_var = False, nan_policy='omit')

82.88973384030417

Ttest_indResult(statistic=-18.254856278479288, pvalue=2.2881206640097267e-52)

Conclusion: Due to p-value < 0.05 null hypothesis is rejected.

## Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [18]:
print("'Physician Fee Freeze' bill is supported by", round(100 * dem['physician-fee-freeze'].mean(),2), "% of Democrats and",round(100 * rep['physician-fee-freeze'].mean(),2),"% of Republicans.")

'Physician Fee Freeze' bill is supported by 5.41 % of Democrats and 98.79 % of Republicans.

In [19]:
ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], equal_var = False, nan_policy='omit')

Ttest_indResult(statistic=56.70480591963001, pvalue=8.82076091455592e-193)

Conclusion: Due to p-value < 0.05 null hypothesis is rejected.

## Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [26]:
print("'Water Project' bill is supported by", round(100 * dem['water-project'].mean(),2), "% of Democrats and",round(100 * rep['water-project'].mean(),2),"% of Republicans.")

'Water Project' bill is supported by 50.21 % of Democrats and 50.68 % of Republicans.

In [25]:
ttest_ind(rep['water-project'], dem['water-project'], equal_var = False, nan_policy='omit')

Ttest_indResult(statistic=0.08893998898558053, pvalue=0.9291867875225105)

Conclusion: Due to p-value > 0.05 (and even > 0.1) null hypothesis is not rejected.

## Refactor your code into functions so it's easy to rerun with arbitrary variables

In [0]:
def ttest_congress(act, confidence=0.95):
  result = ttest_ind(rep[act], dem[act], equal_var = False, nan_policy='omit')
  if result[1] < 1-confidence:
    return print(result, "\n Null hypothesis rejected")
  else:
    return print(result, "\n Null hypothesis not rejected")

In [51]:
ttest_congress('immigration', 0.95)

Ttest_indResult(statistic=1.7374703659666726, pvalue=0.08318508907246192)
 Null hypothesis not rejected

In [52]:
ttest_congress('immigration', 0.9)

Ttest_indResult(statistic=1.7374703659666726, pvalue=0.08318508907246192)
 Null hypothesis rejected

## Apply hypothesis testing to your personal project data 
(for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# I don't have any personal project data yet. Perhaps I will come back to this stretch goal later.